

</body>    <script type="application/javascript"  src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>

    <script type="javascript" src ="chat.js"></script>

</html>